<h1 class="text-center mt-4 mb-3"><%=@user.username %>'s profile</h1>

<%= gravatar_for @user, size:200 %>

<div class="flickr_pagination mb-5 mt-3">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination mb-5">
    <%= will_paginate @articles, :container => false %>
</div>
